// colors
$off-black: #1e272e;
$off-white: #dfe6e9;
$light-grey: #fff;

$pink: #e0245e;
$blue: #00a8ff;
// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$beak-point: 45rem;
